<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar la receta</h4>
            <form action="/admin/recetas/modificar" method="post"
            enctype="multipart/form-data">
                <input type="hidden" value="{{receta.id}}" name="id">
                <div class="mb-3 row">
                    <label for="">Titulo</label>
                    <input type="text" class="form-control" name="titulo" value="{{receta.titulo}}">
                </div>
                <div class="mb-3 row">
                    <label for="">Subtitulo</label>
                    <input type="text" class="form-control" name="subtitulo" value="{{receta.subtitulo}}">
                </div>
                <div class="mb-3 row">
                    <p>
                        <label>Imagen : <input type="file" name="imagen" class="form-control" id="imagen"/></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete"  id="img_delete" value="1">Eliminar la imagen actual?</label>
                        <input type="hidden" name="img_original" value="{{receta.img_id}}">
                    </p>
                </div>
                <div class="mb-3 row">
                    <label for="">Cuerpo</label>
                    <textarea class="form-control" name="cuerpo">{{receta.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
                <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>